<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Faça Seu Cadastro</title>

  <link rel="stylesheet" href="http://localhost:4000/static/css/style.css">
  <link rel="stylesheet" href="http://localhost:4000/static/css/login.css">
</head>
<body>
  <div class="box-login">
    <a href="../"><i class="fa-solid fa-arrow-left"></i> Voltar</a>
    <form method="POST" action="/usuarios">
      <h1>Cadastro</h1>
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" required>
      
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" required>
      
      <label for="senha">Senha:</label>
      <input type="password" id="senha" name="senha" required>
  
      <label for="data">Data de nascimento:</label>
      <input type="date" id="data" name="data" required>
  
      <button class="btn" type="submit" name="acao" value="cadastro">Cadastrar</button>
    </form>
    <div class="box-hero w50 right">
      <img class="right" src="http://localhost:4000/static/images/cachorro-com-oculos.png" alt="cachorro-com-oculos">
    </div>
    <div class="clear"></div>
  </div>

  <script src="https://kit.fontawesome.com/d9dda7c4a9.js" crossorigin="anonymous"></script>
</body>
</html>
