<% 
if (user.cargo === 1) {
    var cargo = "Administrador"
    
} else {
    var cargo = "Cliente"
}
%>
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="http://localhost:4000/static/css/style.css">
    <link rel="stylesheet" href="http://localhost:4000/static/css/dashboard.css">
</head>
<body>
    <header>
        
        <div class="center">
            <div class="logo">
                <h2><i class="fa-solid fa-shield-dog"></i> PetCare Connect</h2>
            </div>
            <form action="/logout" method="post">
                <button><i class="fa-solid fa-user-xmark"></i></button>
            </form>

        </div>
    </header>
    <div class="sidebar">
        <div class="user-data">
            <% if (user.img) {
                %> <img src="<%=user.img%>" alt="Imagem do Usuário"> <%
            }
            else {
                %> <img src="http://localhost:4000/static/images/user.png" alt="Imagem de Usuário"><%
            }
            %>
            <h2><%=user.nome%></h2>
            <p><%= cargo %></p>
        </div>
        <div class="list-items">
            <div class="block">
                <h2><i class="fa-solid fa-list"></i> Serviços</h2>
                <ul>
                    <li><a href="/servicos"><i class="fa-solid fa-address-book"></i> Meus Serviços</a></li>
                    <li><a href="/servicos-todos"><i class="fa-solid fa-rectangle-list"></i> Todos Serviços</a></li>
                    <% if (user.cargo == 1) {%>
                        <li><a href="/servicos-novo"><i class="fa-solid fa-circle-plus"></i> Adicionar Novo</a></li>
                    <% } %>
                </ul>     
            </div>
            <div class="block">
                <h2><i class="fa-solid fa-user"></i> Usuário</h2>
                <ul>
                    <li><a href="/usuario"><i class="fa-solid fa-user-pen"></i> Editar Perfil</a></li>
                    <% if (user.cargo == 1) {%>
                        <li><a href="/usuario-edit"><i class="fa-solid fa-user-gear"></i> Editar Usuários</a></li>
                    <% } %>
                </ul>     
            </div>
        </div>

    </div>

    <div class="center">

    </div>
    
    <script src="https://kit.fontawesome.com/d9dda7c4a9.js" crossorigin="anonymous"></script>
</body>
</html>