<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetCare Connect</title>

    <link rel="stylesheet" href="http://localhost:4000/static/css/style.css">
</head>
<body>
    <h1>Bem-vindo(a) à <br>PetCare Connect!</h1>
    <a class="btn" style="width: 13%;" href="/cadastro">Faça Cadastro</a>
    <br><span>Ou</span>
    <a class="btn" style="width: 13%;" href="/login">Faça login!</a>

</body>
</html>