<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetCare Connect</title>

    <link rel="stylesheet" href="http://localhost:4000/static/css/style.css">
    <link rel="stylesheet" href="http://localhost:4000/static/css/home.css">
</head>
<body>
    <div class="box-home">
        <h1>Bem-vindo(a) à <br>PetCare Connect!</h1>
        <a class="btn" href="/cadastro">Faça Cadastro</a>
        <!-- <span><b>OU</b></span> -->
        <a class="btn" href="/login">Faça login!</a>    
    </div>

</body>
</html>