header {
    width: 100%;
    padding: 15px 0;
    background-color: var(--bg-dark);
}

header .center {
    display: flex;
}

header .center .logo {
    color: white;
    flex: 11;
}

header .center .logo h2 {
    font-weight: bold !important;
    font-size: 20pt;
}



button {
    margin-top: 10px;
    font-weight: bold;
    color: white;
    background: none;
    border: 0;
    cursor: pointer;
}

.container {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.sidebar {
    background-color: #004b89;
    height: 100%;
    flex-basis: 300px;
    max-width: 300px;
    flex-shrink: 0;
   
    color: var(--bg);
}

.sidebar .user-data {
    text-align: center;
    padding: 20px;
}

.sidebar .user-data img {
    width: 50%;
    border-radius: 50%;
}

.list-items h2 {
    background-color: var(--secondary-dark);
    padding: 10px;
}

.list-items ul {
    list-style: none;
}

.list-items ul li {
    padding: 10px 40px;
    background-color: #05518f;
    border-bottom: 1px solid #013b6b;
}

.list-items ul li a {
    color: var(--bg);
    text-decoration: none;
}

.components {
    height: 100%;
    flex: 1;
    max-height: 100%;
    padding: 20px;
}

.main form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.main {
    display: none;
}