.box-login {
    display: flex;
    align-items: center;
    background-color: var(--beige);
    padding: 58px 20px;
    margin: 40px;
    border-radius: 50px;
    border: 2px solid var(--black);
    box-shadow: 2px 2px var(--black);
    position: relative;
}

.box-login a {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
    color: var(--black);
    font-weight: bold;
    text-decoration: none;
}

form {
    height: 100% !important;
    flex: 2;
    padding: 20px;
}

form h1 {
    margin-bottom: 20px;
    text-align: center;
}

button {
    margin-top: 5px;
    width: 100%;
}

.box-hero {
    flex: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-end; /* Alinhar a imagem à direita */
}

.box-hero img {
    object-fit: cover;
    min-width: 100%; /* Garantir que a imagem ocupe pelo menos a largura da caixa */
    min-height: 100%; /* Garantir que a imagem ocupe pelo menos a altura da caixa */
}
